<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"
    >Example textarea</label
  >
  <div
    #selectContainer
    class="form-control"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
  >
    <mat-chip-grid #chipGrid aria-label="Search...">
      <mat-chip-row *ngIf="value && value.length > 0">
        {{ value.length }} items selected
      </mat-chip-row>
      <input
        placeholder="Search..."
        class="form-control search-input"
        (input)="search($event)"
        (focus)="open()"
        #multiSelectInput
        [matChipInputFor]="chipGrid"
      />
      <button class="clear-button" type="button">
        <mat-icon (click)="clear()">cancel</mat-icon>
      </button>
    </mat-chip-grid>
  </div>
</div>

<ng-template
  cdkConnectedOverlay
  #templateRef
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayWidth]="selectContainer.clientWidth"
  [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="close()"
  [cdkConnectedOverlayFlexibleDimensions]="true"
>
  <cdk-virtual-scroll-viewport
    [ngStyle]="{ 'width.px': selectContainer.clientWidth }"
    class="select-list"
    itemSize="50"
  >
    <div *cdkVirtualFor="let item of items; let i = index" class="select-item">
      <app-select-item
        (onClick)="onItemClick($event)"
        [item]="item"
        [itemIndex]="i"
        [optionText]="optionText"
        [optionValue]="optionValue"
        [itemSelected]="isSelected(item)"
      ></app-select-item>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-template>
